<div class="container mx-auto py-8">
    <div class="mb-4">
        <span>Are you sure that you want to delete record <span class="font-semibold">{{entityId}}</span> out of {{resourceName}}?</span>
    </div>
    <div class="flex items-center space-x-2">
        <form action="/admin/{{resourceName}}/{{entityId}}/delete" method="POST" method="post">
            <button class="bg-red-500 text-white px-4 py-2 rounded-md" type="submit">Delete</button>
        </form>
        <a href="/admin/{{resourceName}}/{{from}}">Cancel</a>
    </div>
</div>
