<div class="container mx-auto py-8 flex flex-col">
    <div class="flex justify-between">
        <h1 class="text-xl font-bold">{{heading}}</h1>
        <a class="" href="/admin/{{resourceName}}/create">Create</a>
    </div>
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="table table-auto min-w-full text-center">
                    <thead class="table-header-group">
                        <tr class="table-row">
                            {{#each uniqueKeys}}
                            {{!-- {{#ifCond this.key "!=" "id"}} --}}
                            <th scope="col" class="table-cell border px-6 py-4">{{this.titleCase}}</th>
                            {{!-- {{/ifCond}} --}}
                            {{/each}}
                            <th scope="col" class="table-cell border px-6 py-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-row-group">
                        {{#each data}}
                        <tr class="table-row">
                            {{#each ../uniqueKeys}}
                            {{!-- {{#ifCond this.key "!=" "id"}} --}}
                            <td class="table-cell border px-6 py-4">{{renderCellData (lookup .. this.key) this.key
                                ../../resourceName}}</td>
                            {{!-- {{/ifCond}} --}}
                            {{/each}}
                            <td class="table-cell border px-6 py-4">
                                <span class="flex space-x-2">
                                    <a href="/admin/{{../resourceName}}/{{this.id}}">View</a>
                                    <a href="/admin/{{../resourceName}}/{{this.id}}/edit">Edit</a>
                                    {{> deleteButton url=(getEntityActionUrl this.id ../resourceName 'delete')}}
                                </span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
