extends layouts/main

block content
    main.container.mx-auto.py-8.flex.flex-col
        .flex.justify-between
            div.flex.space-x-2.items-center
                h1.text-xl.font-bold #{heading}
                if data && data.length
                    span Showing #{data.length}/#{meta.total} entries in total
            a(href=`/admin/${resourceName}/create`) Create
        div(class="overflow-x-auto sm:-mx-6 lg:-mx-8")
            div(class="inline-block min-w-full py-2 sm:px-6 lg:px-8")
                .overflow-hidden
                    if data && data.length
                        table.table.table-auto.min-w-full.text-center
                            thead.table-header-group
                                tr.table-row
                                    each key in uniqueKeys
                                        th(scope="col" class="table-cell border px-6 py-4")= key.titleCase
                                    th(scope="col" class="table-cell border px-6.py-4") Actions
                            tbody#list-entity.table-row-group
                                each row in data
                                    tr.table-row(id=`row-${resourceName}-${row.id || row.key}`)
                                        each uniqueKey in uniqueKeys
                                            include components/listValueTd
                                        include components/listActionsTd
                    else
                        p No records
            div(class="flex justify-between items-center")
                div(class="flex justify-center items-center space-x-2")
                    a(class=meta.prev ? "" : "pointer-events-none opacity-25" href=`?page=${meta.prev}&perPage=${meta.perPage}`) Previous
                    a(class=meta.next ? "" : "pointer-events-none opacity-25" href=`?page=${meta.next}&perPage=${meta.perPage}`) Next
                div(class="flex items-center space-x-2")
                    span= `Per Page: `
                    each val in [1, 5, 10, 15, 20, 25]
                        a(href=`?page=${meta.currentPage}&perPage=${val}` class= meta.perPage == val ? "underline" : "") #{val}
