- const className = 'px-2 py-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-80 sm:text-sm border-gray-300 rounded-md border-2'
- const type = typeof value

case type
    when 'string'
        if key == 'description'
            textarea(class=className name=key id=key data-key=key value=value)= value
        else if key == 'email'
            input(type='email' class=className name=key id=key data-key=key value=value)
        else if ['id', 'createdAt', 'updatedAt', 'deleted'].includes(key)
            input(readonly class=className name=key id=key data-key=key value=value)
        else
            input(type='text' class=className name=key id=key data-key=key value=value)
    default
        input(class=className type=`${type}` name=key id=key data-key=key value=value)
